@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*   {
    box-sizing: border-box;
}

body    {
    background-color: #222222;

    color: #FFFFFF;

    font-family: 'Oswald', sans-serif;

    font-size: 1.4rem;

    font-weight: 200;

    text-align: center;
} 

h1  {
    padding: 20px 0;
}

h2  {
    padding: 10px 0;
}

p   {
    font-weight: 700;

    padding: 5px 0;
}

span   {
    font-weight: 700;
}